<%
let parts = [];

// If url contains corona, make the rest it white
const name =  baseUrl.replace('corona', '<span style="color: #CAEAE9;" >corona</span>')
%>

<a class="flex flex-col items-center" href="/">
  <img src="/static/images/logo.svg" alt="icon" class="w-20 h-20" />
  <div class="flex flex-row items-center" style="color: rgba(45,209,231,1);">
    <div
      class="flex flex-row flex-no-wrap text-2xl sm:text-3xl font-bold whitespace-no-wrap"
    >
      <span style="background: linear-gradient(90deg, rgba(45,209,231,1) 10%, rgba(227,39,239,1) 110%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;" >
        5vid
      </span>
    </div>
  </div>
</a>
