<style>
    * {
        font-family: 'Montserrat', sans-serif;
    }

    section {
        background-color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        justify-content: center;
        margin: 0 auto;
        text-align: left;
        padding: 0 20px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
        color: #7d7d7d;
        font-weight: 300;
    }

    .email-container {
        margin-top: 30px;
        display: flex;
        height: 50px;
        justify-content: center;
        max-width: 400px;
    }

    #email-input {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: #ececec;
        border: none;
        font-size: 1em;
        padding: 10px;
        font-weight: 600;
    }

    #email-input:focus {
        outline: none;
    }

    button {
        background-color: #8A7BEC;
        border-radius: 5px;
        border: none;
        color: white;
        height: 100%;
        width: 100px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .triangle {
        width: 0;
        height: 0;
        border: 150px solid #8A7BEC;
        border-bottom: 150px solid transparent;
        border-right: 150px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        color: white;
        position: absolute;
        font-size: 30px;
        top: 60px;
        left: 40px;
        font-weight: 800;
    }

</style>

<section>
    <div class="triangle"></div>
    <div class="logo">5vid.co</div>
    <h1>
        ¡Gracias por tu apoyo! 🤜 🤛
    </h1>
    <p>
        Estamos haciendo lo posible por ayudar a todos nuestros usuarios. Esto implica que debemos tomar una mayor
        cantidad de medidas para garantizarles una mejor atención.
        <b>Por eso, estamos trabajando para tener mayor control sobre las personas que están siendo atendidas.</b>
    </p>
    <p>
        <b>Déjanos tu correo y te informaremos cuando estemos listos para brindarte el mejor servicio.</b>
    </p>
    <div class="row">
        <div class="email-container">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
                portalId: "7726309",
                formId: "3ab0b4e0-2741-4f1e-8007-22f003bc1179"
              });
            </script>
        </div>
    </div>
</section>


